.about-main {
    .headings {
        padding: 58px 44px;
        width: 98%;
        margin: auto;
        height: 176px;
        margin: 62px auto;
        left: 38px;
        border-radius: 21px;
        background-color: #FCA03340;
    }
}
