$primary-color:#FCA033;
$secondary-color:#0495FE;
$color-grey:#ddd;
$color-green:#7ec67ec9;
$primary-font:'Public Sans';
$secondary-font:'Jost';
$color-black:#000;
$color-red:#FC3333;
$color-grey:#5b5959;
$color-white:#fff;
$color-light:#d6c3c330;