@use './variable' as var; 
@use './font';
@use './common';
@use './about';
*{
    margin:0;
    padding:0;
}
body{
    font-family:var.$primary-font !important;
    font-size:14px;
    font-weight:normal;
}
header{
    .topbar{
        background-color:var.$primary-color;
        padding:10px;
    }
    .dropdown-menu[data-bs-popper]{
        right:0 !important;
        left:auto;
    }
    .navbar{
        .logo{
            .navbar-brand{
                &>img{
                    width:130px;
                }
            }
        }
        .navbar-nav{
            .nav-item{
                .nav-link{
                    &.active{
                        color:var.$secondary-color;
                        font-weight:600;
                    }
                }
            }
        }
    }
}
main{
    .main-section{
        .Headings{
            padding:60px;
            margin:0 auto;
            padding-bottom:17px;
            text-align:center;
            &>h1{
                color:grey;
                font-family:var.$secondary-font;
                text-transform:uppercase;
                font-weight:600;
                line-height:50px;
                letter-spacing:1px;
                .first{
                    color:var.$primary-color;
                }
                .second{
                    color:var.$secondary-color;
                }
            }
            .icon{
                color:var.$secondary-color;
                font-size:25px;
            }
        }
        .search-card{
            max-width:800px;
            margin:0 auto;
            position: relative;
            .form-control{
                border-radius:20px;
                height:44px;
                padding: 0px 67px;
                font-size:14px;
                color:#ddd;
                border-color:var.$secondary-color;
                &:focus-visible{
                    outline:0;
                }
            }
            .buy{
                position: absolute;
                top: 13px;
                left: 20px;
                border-right: 2px solid #ddd;
                padding-right: 10px;
                display: flex;
                align-items: center;
                &>span{
                    color:grey;
                    font-size:12px;
                }
            }
            .Search{
                position: absolute;
                top: 10px;
                right: 25px;
                border-left: 1px solid #ddd;
                padding-left: 20px;
                &>span{
                    color:grey;
                }
            }
        }
        .slider-status{
            max-width:900px;
            margin: 0 auto;
            margin-top:60px;
            position: relative;
          
            .slider-child{
                .owl-carousel{
                    .owl-stage-outer{
                        .owl-stage{
                            .owl-item{   
                                margin:15px;
                                .img{
                                    width: 100px;
                                    height: 100px;
                                    border-radius: 50%;
                                    &>img{
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                        object-fit: cover;
                                        padding: 6px;
                                    }
                                }      
                                .slider-file {
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 10px;
                                    border-radius: 10px; 
                                    cursor: pointer;
                                    margin:20px;
                                    border-radius: 50%;
                                    width: 100px;
                                    height: 100px;
                                    label {
                                      font-weight: bold;
                                      color:gray;
                                      cursor: pointer;
                                    }  
                                    input[type="file"] {
                                      display: none; 
                                    }
                                }
                                margin:15px;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                padding: 10px;
                                border:4px dashed #3498db; 
                                border-radius: 10px; 
                                cursor: pointer;
                                border-radius: 50%;
                                width: 100px !important;
                                height: 100px;   
                            }
                        }
                    }
                    
                }
            }              
        }
    }
    .slider-contents{
        padding:0px 35px;
        &>h2{
            font-family:var.$secondary-font;
            font-size:35px;
            position: relative;
            font-weight:bold;
            &:after{
                border: 4px solid #ddd;
                border-radius: 8px;
                content: "";
                width: 100px;
                position: absolute;
                top: 57px;
                height: 0px;
                left: 0;
            }
        }
        .slider-props{
            margin-top:10px;
            position: relative;
            .owl-custom{
                position: relative;
                margin-top:60px;
                .owl-nav{
                    display: inline-flex !important;
                    position: absolute;
                    right:20px;
                    top:-36px;
                    .owl-next{
                        width:30px;
                        position: relative;
                        height:30px;
                        color:#fff;
                        background-color:var.$primary-color;
                        border-radius:50%;
                        margin-right:0px;
                        &>span{
                            display:none;
                        }
                        &::after{
                            content: '\f105';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900; 
                        }       
                    }
                    .owl-prev{
                        width:30px;
                        position: relative;
                        height:30px;
                        color:#fff;
                        background-color:var.$primary-color;
                        border-radius:50%;
                        margin-right:4px;
                        &>span{
                            display:none;
                        }
                        &::after{
                            content: '\f104';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900; 
                        }
                    }
                }
            }
            .slider-components{
                .slideritems{
                    &>img{
                        border-radius:8px;
                    }
                }
            }
        }
        .slider-components{
            position: relative;
            border: 1px solid #ddd;
            padding:15px;
            margin:5px;
            border-radius: 6px;
            .slideritems{
                .card-contents{
                    display:flex;
                    align-items:center;
                    justify-content:space-between;
                    padding:15px;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    .green-success{
                        font-size: 10px;
                        border-radius: 16px;
                        background-color: rgba(126, 198, 126, 0.7882352941);
                        padding:3px;
                        width: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .notify{
                        font-size: 10px;
                        border-radius: 16px; 
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &>p{
                            margin: 2px;
                            border-radius: 16px;
                            padding: 3px;
                            background-color: #664d033b;
                            width:60px;
                            display:flex;
                            align-items:center;
                            justify-content:center;
                            color: #fff;
                        }
                    }
                }
                .profiles{
                    display:flex;
                    align-items:center;
                    justify-content:space-between;
                    position:absolute;
                    bottom:0;
                    width:100%;
                    padding:10px;
                    .icon{
                        &>i{
                            color:var.$primary-color;
                        }
                    }
                    .images{
                        width:30px;
                        height:30px;
                        border-radius:50%;
                       
                        &>img{
                            width:100%;
                            height:100%;
                            border-radius:50%;
                        }
                    }
                }
            }
            .slider-details{
                margin-top:15px;
                &>h4{
                    font-size:14px;
                    font-weight:600;
                    color:var.$color-black;
                }
                &>span{
                    color:var.$color-grey;
                    font-size:14px;
                }
                &>p{
                    color:var.$color-grey;
                    font-size:14px;
                }
                .price{
                    &>h5{
                        color:var.$primary-color;
                    }
                }
            }
        }
        &.video-contents{
            .slider-components{
                border:0;
                .slideritems{
                    .card-contents{
                        height:100%;
                        .contents{
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            .green-success{
                                background-color:transparent;
                                cursor:pointer;
                                &>i{
                                    font-size:30px;
                                    color:var.$color-red;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.GetINTOUCh{
            padding-bottom:50px;
            .GetIn-status{
                background-color:var.$color-light;
                padding:60px;
                margin-top:12px;
                &>p{
                    margin-bottom:0px;
                    font-size:20px;
                }
                &>h3{
                    font-size:20px;
                    font-weight:600;
                }
                .supportTeam{
                    margin-top:5px;
                    &>span{
                        font-size:13px;
                    }
                    .service{
                        .option{
                            display:flex;
                            align-items:center;
                            justify-content:space-between;
                        }
                    }
                    .service{
                        margin-top:30px;
                        padding-left:30px;
                        padding-right:30px;
                        .options{
                            display:flex;
                            align-items:center;
                            margin-bottom:20px;
                            .icon{
                                &>span{
                                    font-size:20px;
                                   
                                }
                            }
                            .details{
                                margin-left:20px;
                                font-size:14px;
                                &>p{
                                    margin-bottom:0;
                                }
                            }
                        }
                    }
                }
            }
            .iframes{
                margin-top:12px;
            }
        }
    }
  
    .theme-section{
        &.checkAreas{
            padding:0px 35px;
            &>h2{
                font-family:var.$secondary-font;
                font-size:35px;
                position: relative;
                font-weight:bold;
                max-width:600px;
                line-height:34px;
                &:after{
                    border: 4px solid #ddd;
                    border-radius: 8px;
                    content: "";
                    width: 100px;
                    position: absolute;
                    top:70px;
                    height: 0px;
                    left: 0;
                }
            }
            .gallery{
                display:grid;
                grid-template-columns:30% 70%;
                gap:10px;
                @media screen and (max-width:767px){
                    grid-template-columns:100%;
                }
                .card-1{
                    max-width:500px;
                    &>img{
                        width:100%;
                        height:100%;
                        border-radius:12px;
                    }
                }
                .card-2{
                    display:grid;
                    grid-template-columns:repeat(3,1fr);
                    grid-template-rows:2;
                    gap:10px;
                    .gridcard{
                        &>img{
                            border-radius:12px;
                            width:100%;
                            height:100%;
                        }
                    }
                }
            }
        }

    }
    .sellbanner{
        background-image:url('../Images/home-banner-2.jpg');
        width:100%;
        height:400px;
        background-position:center;
        object-fit:cover;
        padding:100px;
        position: relative;
        &:after{
            background-color: #000000;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            left: 0;
            opacity: 0.4;
            // filter: blur(390px);
        }
        .sell-options{
            h2{
                color:var.$color-white;
                font-size:30px;
                font-weight:600;
                z-index:1;
                position: relative;
            }
            p{
                margin-top:15px;
                color:var.$color-white;
                font-weight:600;
                max-width:600px;
                z-index:1;
                position: relative;
            }
        }
        .valueoffIt{
            .btn-border{
                border:1px solid #fff;
                border-radius:8px;
                max-width:200px;
                color:#fff;
                z-index:1;
                padding:12px;
                cursor: pointer;
                position: relative;
            }
            
        }
    }
}

footer{
    background-color:#222222;
    padding:20px;
    .social-media{
        display:flex;
        align-items: center;
        justify-content:center;
        &>span{
            color:var.$color-white;
            font-size:20px;
            cursor: pointer;
            margin:9px;
        }
    }
    .bottom-footer{
        padding:15px 0px;
        border-top:1px solid var.$color-light;
        &>h2{
            color:var.$color-light;
            text-align:center;
            font-size:15px;
        }
    }
}