@use './variable' as var; 
@use './font';

*{
    margin:0;
    padding:0;
}
body{
    font-family:var.$primary-font !important;
    font-size:14px;
    font-weight:normal;
}
header{
    .topbar{
        background-color:var.$primary-color;
        padding:10px;
    }
}